@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid">
  
    <h2 class="text-center display-4">Hi There!</h2>
    <div class="row" style="justify-content:center; font-size:medium">
        <div class="text-center">Here is your ecommerce checkout API's </div>
        <br />
  
    </div>

</div>